<div class ="container">
  <div class="wrapper">
    <h1>Log in</h1>
    <%= form_with(scope: :session, url: sessions_path, local: true) do |f| %>

    <form action ="" method="post" name="Login_Form" class="form-signin">
      <h3 class="form-signin-heading">Welcome back!! Please enjoy!</h3>
        <hr clas="colorgragh"><br>

      <p class="mb-2"><%= f.label :email %></p>
      <p><%= f.email_field :email, class:"w-25" %></p>

      <p class="mb-2"><%= f.label :password %></p>
      <p><%= f.password_field :password, class:"w-25" %></p>


      <button class="btn btn-lg btn-primary btn-block" name="Submit" value="Login" type="Submit">Login</button>
    </form>
    <% end %>
  </div>
</div>
