<%= form_with(model: picture, local: true) do |form| %>
  <div class="field">
    <p><%= form.label :image %></p>
    <%= image_tag(picture.image.url) if picture.image && picture.image.url %>

    <P><%= form.file_field :image %></P>
    <P><%= form.hidden_field :image_cache %></P>

    <P><%= form.label :content %>
       <%= form.text_field :content %></P>
  <div>

    <P><%= form.submit %></P>
<% end %>
