<div class="wrapper"><br><br><br><br>
  <h1>確認画面</h1>
  <%= form_with(model: @picture, url: pictures_path, local: true) do |form| %>

    <p><strong>画像:</strong></p>
    <p><%= image_tag(@picture.image.url) if @picture.image && @picture.image.url %></p>
    <%= form.hidden_field :image_cache %>

    <p><strong>コメント:</strong></p>
    <%= form.hidden_field :content %>
    <%= @picture.content %>

    <%= form.submit '投稿する' %>
  <% end %>

  <%= form_with(model: @picture, url: new_picture_path, local: true, method:"get") do |form| %>
    <%= form.hidden_field :image_cache %>
    <%= form.submit 'back', name: 'back' %>
  <% end %>
    <%= link_to '戻る', :back %>
</div>
