<div class="wrapper"><br><br><br><br>
  <h1>投稿一覧<i class="bi bi-file-earmark-richtext"></i></h1>
  <br>
  <table>
    <table-head>
      <tr>
        <th class="pt-3 pb-3 text-center">投稿者<i class="bi bi-person"></i></th>
        <th class="pt-3 pb-3 text-center">コメント<i class="bi bi-chat-text"></i></th>
        <th class="pt-3 pb-3 text-center">画像<i class="bi bi-image"></i></th>
      </tr>
    </table-head>

    <table-body>
      <% @pictures.each do |picture| %>
      <tr>
        <td class="mb-2 text-center"><%= picture.user.name %></td>
        <td class="mb-2 text-center"><%= picture.content %></td>
        <td class="pt-3 pb-3 px-5"><%= image_tag picture.image_url %></td>
        <td class="pt-3 pb-3 px-5"><%= link_to '詳細', picture_path(picture) %></td>

        <% if picture.user == current_user %>
          <td class="pt-3 pb-3 px-5"><%= link_to '編集', edit_picture_path(picture) %></td>
          <td class="pt-3 pb-3 px-5"><%= link_to '削除', picture, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% else %>
          <td></td>
          <td></td>
        <% end %>
      </tr>
      <% end %>
    </table-body>
  </table>
  <button type ="button" class="btn btn-link"><%= link_to '新規投稿ページへ', new_picture_path %></button>
</div>
