<div class="wrapper">
  <h1>投稿一覧</h1>
  <br>
  <table>
    <table-head>
      <tr>
        <th>投稿者</th>
        <th>コメント</th>
        <th>画像</th>
      </tr>
    </table-head>

    <table-body>
      <% @pictures.each do |picture| %>
      <tr>
        <td><%= picture.user.name %></td>
        <td><%= picture.content %></td>
        <td><%= image_tag picture.image_url %></td>
        <td><%= link_to '詳細', picture_path(picture) %></td>
        <td><%= link_to '編集', edit_picture_path(picture) %></td>
        <td><%= link_to '削除', picture, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
      <% end %>
    </table-body>
  </table>
  <%= link_to '新規投稿ページへ', new_picture_path %>
</div>
